body{
    margin:20px;
    margin-top: 100 px;
    padding:40px;
    background-image: url(" D:/webpages/rr.jpg ") ;
    background-size: cover;
    text-align: center;
    text-decoration : solid;
    box-sizing: border-box;
}
label{
    font-size: 25px;
    text-align: center;
    display: block;
}
div{
    background-color: white;
    height: 450px;
    text-align: center;
    margin-left: 490px;
    width:450px;
    margin-right: 900px;
}
fieldset{
    height: 500px;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
}
button{
    height: 35px;
    width:100px;
    border-radius: 25px;
}
input{
    display: block;
    text-align: center;
    height: 40px;
    position: relative;
    border: none;
    width:250px;
    background-color: rgb(211, 203, 203);
    margin-left: 99px;
}
input[type=radio]{
    display: inline;
    margin-left: 245px;
    position: relative;
    text-align: center;
    font-size: 2px;
    height: 20px;
    width: 20px;
}
input:active{
    background-color: white;
    border-right: visible;
    border-left: visible;
    border-top: visible;
    border-color: black;
    border-width: 2px;
}
input:hover{
    background-color: white;
    border-right: visible;
    border-left: visible;
    border-top: visible;
    border : 2px solid #000; 
}