.head{ 
    width: 90%;
    height: 340px;
    background-size: cover;
    color: #ffffff;
    font-size: 100px;
    text-align: center;
    padding: 2%;
    margin-left: 20px;
    margin-right: 20px;
}
p{
    padding: 2%;
    font-size: 30px;
}