body{
    background-color :#fce4ec    ;
}
h1{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
}
table{
    border : 2px solid #000;
    margin :auto;
    padding: auto;
    background-color: #ffffff;
}
input{
    font-size: 50px;
    padding: 2px;
    border: 2px solid #000;
    box-sizing: border-box;
    width : 90px;
    background-color: #e0e0e0;
}
#result{
    background-color : #ffffff;
    width: 270px;
}